.app-container {
    font-family: "Epilogue", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    padding: get-size('400');
    @media (min-width: 48em) {
        padding: 40px;
    }
}