.hero-button {
    border: solid 2px rgba(59, 59, 59, 100);
    display: block;
    border-radius: get-size('400');
    padding-block: get-size('300');
    padding-inline: get-size('500');
    margin-inline: auto;
    @media (min-width: 48em) {
        margin-left: 0;
    }
}
