.menu {
    justify-content: space-between;
}
@media screen and (min-width: $breakpoint) {
    header.menu {
        padding-inline: get-size('900');
        justify-content: flex-start;
        align-items: center;
    }
    header.menu button:first-of-type {
        margin-left: auto;
    }
}