$gorko-colors: (
  'black': #151515,
  'white': #FAFAFA,
  'grey': #686868,
  'almost-white': #FAFAFA,
);

.bg-black {
    background-color: get-color('black');
}
.bg-white {
    background-color: get-color('white');
}
.font-black {
    color: get-color('black');
}
.font-grey,
.font-grey button {
    color: get-color('grey');
}
.font-white {
    color: get-color('white');
}
.bg-almost-white {
    background-color: get-color('almost-white');
}